<div class="question">
  <h2>{{ 'questions.q1.title' | transloco }}</h2>
  <div class="options">
    @for(question of question1Data; let idx = $index; track question) {
      <label
        class="option"
        [ngClass]="{
          'selected': idx === selectedIndex(),
          'correct': isCompleted() && question.isCorrect,
          'incorrect': quizForm.get('question1')?.value === question.value && !question.isCorrect && idx === selectedIndex() && isCompleted()
          }"
        >
        <input type="radio" formControlName="question1" [value]="question.value" (change)="handleOptionChange(idx, question.value)">
        {{ 'questions.q1.answers.' + ANSWER_KEYS[idx] | transloco }}
    </label>
    }
  </div>
  <div class="buttons">
      <button type="button" class="next-btn" [disabled]="isDisabled()" (click)="handleNextBtnAction()">
        {{ 'quiz_misc.next' | transloco }}
      </button>
  </div>
</div>
